@import "globally.scss";

.zoom-modal {
  z-index: 2000;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.zoomed-image {
  width: 50%;
}
.main-slider-img {
  max-width: 450px;
  max-height: 300px;
}

.container.scrollable {
  overflow-y: hidden;
}

.modal-button {
  position: absolute;
  right: 10%;
  top: 5%;
}

.image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.product-page .post-image {
  width: 70% !important;
  height: 100%;
  margin-left: 15% !important;
  margin-right: 15% !important;
  cursor: pointer;
}

.product-page .slick-arrow.products-page {
  font-size: 30px;
}

/* ////////////----------------- */
/* .space-top-2 {
  position: relative;
  display: flex;
  flex-direction: column;
} */

.section-title_slider.mb-0.pb-2.font-size-22 {
  position: absolute;
  top: 13%;
  width: 100%;
  display: none;
}

.row.list-unstyled.products-group.no-gutters.mb-0.overflow-visible {
  margin-top: 60px;
  margin-bottom: 10px;
}
.section-title_slider.mb-0.pb-2.font-size-22::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #c8be63;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.dots-wrapper {
  list-style-type: none;
  position: absolute;
  right: 0%;
  top: 0%;
  margin-right: 4%;
  white-space: nowrap;
  border-bottom: 2px solid #c8be63 !important;
  width: 100%;
}

.dots-wrapper li:first-child {
  margin-left: 2%;
}

.dots-wrapper::before {
  content: "Товары дешевле:";
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  float: left;
  align-self: top;
  margin-left: 20px;
  text-align: left;
}

.slick-active .dot {
  border: 2px solid #c8be63;
  border-radius: 50rem;
}

.dot {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 13px;
  font-weight: 700;
  color: #333e48 !important;
  margin-bottom: 2%;
}

.dot:hover {
  border: 2px solid #c8be63;
  border-radius: 50rem;
  background-color: #c8be63;
  transition: background-color 0.5s ease-in-out;
}

.cart_title {
  text-align: center;
  margin: 2% 0 2%;
  font-size: 15px;
  font-weight: 700;
}

.cart_title .title_pin {
  color: #f22422;
}

.cart_list {
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.cart_list .search_item_image {
  display: flex;
  justify-content: center;
}

.cart_list .search_item_name {
  width: 100%;
  text-align: center;
}

.range-slider .input-range__slider-container span:nth-child(odd) {
  display: inline;
}
.range-slider .input-range__label {
  display: none;
}

.home_categories {
  display: none;
}

.home_categories .categories_link {
  cursor: pointer !important;
  user-select: none;
}

.home_categories
  .mb-2.pb-1.font-size-18.font-weight-light.text-ls-n1.text-lh-23 {
  overflow: hidden;
  word-wrap: break-word;
}

.product-item__outer.h-100 {
  width: 100%;
}

.elem_visibility {
  display: block;
}

.category_image {
  max-width: 50px;
}

.topbar-left .col.d-xl-none.px-2.px-sm-3.position-static {
  list-style: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.header_user-info_block {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 290px;
  flex-direction: row-reverse;
  vertical-align: middle;
  justify-content: right;
  display: flex;
}

.header_user-info_block p {
  line-height: normal;
  margin-bottom: 3px;
  display: contents;
  align-items: center;
  cursor: pointer;
}

.header_user-info_span {
  display: flex;
  align-items: center;
}

.header_name.surname {
  margin-left: 3px;
}

.header_img-block {
  display: inline-block;
  border: 1px solid rgb(184, 181, 181);
  border-radius: 12px;
  overflow: hidden;
  margin-left: 5px;
}

.header_user_img {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
}

.header_user-info_text {
  text-align: right;
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.profile_input-photo::-webkit-file-upload-button {
  background-color: #c8be63;
  font-weight: 600;
  padding: 0.67rem 1rem;
  border-radius: 20px;
  border: 2px solid rgb(210, 214, 188);
}

.profile_input-photo::-webkit-file-upload-button:hover {
  background-color: rgb(12, 44, 73);
  color: white;
}

.product-item__inner.p-md-3.row.no-gutters.bg-white.max-width-334 {
  height: 100%;
}

.header_count {
  top: 13px;
}

.favourites-count {
  left: 27px;
}

.post-image-wrapper {
  display: flex;
  justify-content: center;
}

.ec-shopping-bag {
  cursor: pointer;
}

.cart_section .cart_item {
  cursor: pointer;
}


.table-header {
  display: flex;
}

.table_test.downloading_table {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.table_test {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
}

.table_xls_th_header {
  border: 1px solid black;
  text-align: center;
}
.table_row {
  display: flex;
  justify-content: center;
  vertical-align: center;
  width: 100%;
}
.table_xls_th {
  width: 100%;
  min-height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table_xls_th.element_1 {
  width: 5%;
}
.table_xls_th.element_2 {
  width: 31.2%;
}
.table_xls_th.element_3 {
  width: 20%;
}
.table_xls_th.element_4 {
  width: 11.3%;
}
.table_xls_th.element_5 {
  width: 16%;
}
.table_xls_th.element_6 {
  width: 16%;
}

.navlink_without-collapse {
  color: rgb(51, 62, 72);
  padding: 0.4rem 0px;
  line-height: 21px;
  font-size: 14px;
  display: flex;
}

.header-navbar-slider {
  display: flex;
  flex-direction: column;
}

.header-navbar-slider-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header-navbar-slider-ul li {
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .zoomed-image {
    width: 50%;
  }
  .main-slider-img {
    max-width: 450px;
    max-height: 300px;
  }
  .table-header .pos-relative h3 {
    font-size: 1.3rem !important;
  }
  .navbar-main-home-slider {
    display: flex !important;
    background-color: rgb(240, 240, 237);
  }
  .home_main-slider .arrow-left::before {
    position: absolute;
    left: 100%;
  }
  .home_main-slider .arrow-right::before {
    position: absolute;
    right: 100%;
  }
}

@media (max-width: 992px) {
  .zoomed-image {
    width: 60%;
  }
  .main-slider-img {
    max-width: 330px;
    max-height: 220px;
  }
}

@media (max-width: 768px) {
  .zoomed-image {
    width: 70%;
  }
  .cart_section .container {
    max-width: 720px !important;
  }
  .home_categories {
    display: block;
  }
  .elem_visibility {
    display: none;
  }
  .section-title_slider.mb-0.pb-2.font-size-22 {
    top: 7%;
  }
  .dot {
    padding-left: 2px;
    padding-right: 2px;
  }
  .dots-wrapper {
    margin-right: 1%;
    padding-left: 0;
  }
  .row.list-unstyled.products-group.no-gutters.mb-0.overflow-visible {
    margin-top: 85px;
  }
  .dots-wrapper::before {
    text-align: center;
  }
  .main-slider-img {
    max-width: 240px;
    max-height: 160px;
  }
}

@media (max-width: 576px) {
  .zoomed-image {
    width: 95%;
  }
  .cart_section .container .cart_item {
    width: 100% !important;
  }
  .min-height-132 {
    min-height: 50px;
  }
  .category_image {
    max-width: 30px;
  }
  .home_categories {
    margin-bottom: 5px !important;
  }
  .home_categories
    .mb-2.pb-1.font-size-18.font-weight-light.text-ls-n1.text-lh-23 {
    margin-bottom: 0 !important;
  }
  .section-title_slider.mb-0.pb-2.font-size-22 {
    font-weight: 700;
  }
  .dots-wrapper {
    font-size: 12px !important;
  }
  .main-slider-img {
    max-width: 209px;
    max-height: 140px;
  }
}
@media (max-width: 476px) {
  .header_icons-list {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .icon-header::before {
    font-size: 18px !important;
  }
  .header_count {
    width: 16px;
    height: 16px;
    left: 9px;
    top: 14px;
  }
  .favourites-count {
    left: 14px;
  }
  .main-slider-img {
    max-width: 150px;
    max-height: 100px;
  }
}

@media (max-width: 360px) {
  .profile_input-photo::-webkit-file-upload-button {
    padding: 7px;
  }
  .header_icons-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .icon-header {
    padding: 10px;
  }
  .header_count {
    top: 24px;
    left: 19px;
  }
  .favourites-count {
    left: 24px;
  }
  .main-slider-img {
    max-width: 120px;
    max-height: 80px;
  }
}


